includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkUninitializedProperties: true
    paths:
        - config/
        - src/
        - tests/
    excludePaths:
        - src/Infrastructure/Migration/*
